#wrap{
    width: 100%;
    height:800px;
    margin: auto;
    background-image: url('./img/bj.jpg');
    animation: bjmove 1000s linear infinite;
    overflow: hidden;
    
}
@keyframes bjmove{
    0%{
        background-position: 0 0%;
    }
    100%{
        background-position: 0 -5000%;
    }
}
@keyframes bossmove{
    0%{
        left: 0 ;
    }
    100%{
       right: 0;
    }
}
#plane{
    position: absolute;
    width: 114px;
    height: 93px;
}
#wrap em{
    position: absolute;
    display: block;
    width: 3px;
    height: 10px;
    background-color:yellow;
    top: 0;
}
#wrap .enemy{
    position: fixed;
    width: 114px;
    height: 93px;
    background-image: url(./img/P.png);
}
#wrap b{
    position: fixed;
    display: block;
    width: 3px;
    height: 10px;
    background-color:red;
    transform: scale(1.5);
    top: 0;
}
#sroce{
    width: 200px;
    height: 40px;
    position: absolute;
    border: 2px solid red;
    color:yellow;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
}
#sroce1{
    width: 200px;
    height: 40px;
    position: absolute;
    background-color: white;
    color:red;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    right: 33px;
    bottom: 0;
}